@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root {
    --app-font: 'Cairo', sans-serif;
}

html,
body,

table,
th,
td,
tr,
button,
input,
select,
textarea,
label,
div,
span,
a,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.dataTables_wrapper {
    font-family: var(--app-font) !important;
     font-size: 120px;
    
}

